<div data-role="header">
	<h1>{{food.name}}</h1>
</div><!-- /header -->

<div data-role="content" style="text-align:center">
<img src="{{food.image}}">
<br>
<h3>{{food.name}}</h3>
<br><br>
Score: {{food.score}}<br>
Serving Size: {{food.serving}}<br>
Calories: {{food.calories}}<br>
<a href="/home/{{userId}}" onclick="window.whatiate.save('/api/', {user: '{{userId}}', food: '{{food.id}}'});" data-role="button" data-icon="plus" data-theme="b" data-transition="turn">Log It!</a>
</div><!-- /content -->
