<div data-role="header">
	<h1>What I Ate</h1>
</div><!-- /header -->

<div data-role="content">
My Points Area!
<br>
<hr>
	<a href="/logfood/{{userId}}" data-role="button" data-icon="plus" data-theme="a" data-transition="turn">Log a Food</a>
	<a href="/suggest/{{userId}}" data-role="button" data-icon="star" data-theme="a" data-transition="turn">Get a Suggestion</a>
	<a href="/recent/{{userId}}" data-role="button" data-icon="info" data-theme="a" data-transition="turn">See Recent</a>
</div><!-- /content -->
