<div data-role="header">
	<h1>Recent Eats</h1>
</div><!-- /header -->

<script>
$(function(){
var listHtml = "";
var userId = "{{userId}}";
{{#each recent}}
	listHtml += '<li data-theme="'+window.whatiate.scoreToTheme({{score}})+'"><a href="/details/'+userId+'/{{id}}">{{name}} - ({{score}})</a></li>';
{{/each}}

$("#recentList").html(listHtml);
setTimeout(function(){$("#recentList").listview('refresh');}, 500);
});
</script>

<div data-role="content" style="text-align:center">
	<h3>Eaten in the Past Week:</h3>
	<ul data-role="listview" data-inset="true" id="recentList">
	</ul>
</div><!-- /content -->
