<div data-role="header">
	<h1>What I Ate</h1>
</div><!-- /header -->

<p>Set your usual meal times!</p><br>
<div data-role="content">
	<label for="breakfast">Breakfast Time</label>
	<input name="breakfast" id="breakfast" type="date" data-role="datebox" data-options='{"mode": "timebox"}' value="08:00 AM" />
	<br>
	<label for="lunch">Lunch Time</label>
	<input name="lunch" id="lunch" type="date" data-role="datebox" data-options='{"mode": "timebox"}' value="12:00 PM" />
	<br>
	<label for="dinner">Dinner Time</label>
	<input name="dinner" id="dinner" type="date" data-role="datebox" data-options='{"mode": "timebox"}' value="07:00 PM" />
	
	<a href="/home/" onclick="window.whatiate.save('/api/', {user: '{{userId}}', breakfast: $('#breakfast').val(), lunch: $('#lunch').val(), dinner: $('#dinner').val()});" data-role="button" data-theme="a">Start Logging!</a>
</div><!-- /content -->
